<ion-header [translucent]="true">
  <ion-toolbar class="top-bar">
<div class="top-bar">
<div class="logos" style="position: start;">
  <img src="assets/images/logo.png" alt="" class="logo" >
</div>
<div class="profil"  style="position: end;">
  <img src="assets/images/pp.png" alt="" class="circle">
</div>
</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
<img src="assets/images/banner1.png" alt=""  class="banner">

<div class="infos">
<img src="assets/images/infos.png" alt="">
</div>
</ion-content>
