<ion-header [translucent]="true">
  <ion-toolbar class="top-bar">
    <div class="top-bar ion-justify-content-between">
      <div class="logos">
        <img src="assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="profil">
        <img src="assets/images/pp.png" alt="" class="circle">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <img src="assets/images/banner1.png" alt="" class="banner">

  <div class="infos">
    <img src="assets/images/infos.png" alt="" class="infos">

    <div class="services">
      <h4>Catégories de Services</h4>
      <p>Trouvez ci-dessous les maladies que nous soignons et prenez rendez-vous avec nos médecins.</p>

      <div class="cards">
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/service.png" class="image">
          <ion-card-header>
            <ion-card-title>Pneumologie</ion-card-title>
          </ion-card-header>

            <button class="boutton-rv">
              Prendre rendez-vous
            </button>
        </ion-card>
  
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/service.png" class="image">
          <ion-card-header>
            <ion-card-title>Pneumologie</ion-card-title>
          </ion-card-header>

            <button class="boutton-rv">
              Prendre rendez-vous
            </button>
        </ion-card>
      </div>
    </div>

    <div class="maladies">
      <h4>Catégories de Maladies</h4>
      <p>Trouvez-ci dessous les maladies que nous sognoins et prenez rendez-vous avec nos médecins.</p>

      <div class="cards">
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/maladie.png" class="image">
          <ion-card-header>
            <ion-card-title>Asthme</ion-card-title>
          </ion-card-header>

            <button class="boutton-rv">
              Prendre rendez-vous
            </button>
        </ion-card>
  
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/maladie.png" class="image">
          <ion-card-header>
            <ion-card-title>Asthme</ion-card-title>
          </ion-card-header>

            <button class="boutton-rv">
              Prendre rendez-vous
            </button>
        </ion-card>
      </div>
    </div>

    <div class="medecins">
      <h4>Catégories de Medecins</h4>
      <p>Trouvez-ci dessous les maladies que nous sognoins et prenez rendez-vous avec nos médecins.</p>

      <div class="cards">
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/medecin.png" class="image">
          <ion-card-header>
            <ion-card-title>Aissatou Ndiaye</ion-card-title>
          </ion-card-header>

            <button class="boutton">
              Consulter
            </button>
        </ion-card>
  
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/images/medecin.png" class="image">
          <ion-card-header>
            <ion-card-title>Aissatou Ndiaye</ion-card-title>
          </ion-card-header>

            <button class="boutton">
              Consulter
            </button>
        </ion-card>
      </div>
    </div>

    <div class="temoignages">
      <div class="card-bleu">
        <div class="card-white">
        <h5>
          Sophiatou Mendy
        </h5>
        </div>
      </div>
    </div>

  </div>
</ion-content>
