<ion-header [translucent]="true">
  <ion-toolbar class="top-bar">
    <div class="top-bar ion-justify-content-between">
      <div class="logos">
        <img src="assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="profil">
        <img src="assets/images/pp.png" alt="" class="circle">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
